
:root {
    --black: black;
    --seashell: #DBD9E8;
    --outer-space: #585e64;
}

body {
  margin: 0;
  background: no-repeat center center fixed;
  background-size: cover;
  background-image: linear-gradient(to bottom left,rgb(87, 202, 255),rgb(0, 14, 19));
}

.page-header {
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 29.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-header, h1 {
    width: 100%;
    display:flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}

h1 {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 70px;
  font-weight: lighter;
  float: left;
  padding: 13px;
  color: var(--seashell);
}

.topnav {
    overflow: hidden; 
    margin: 0 auto;
    width:100%;
    position: fixed;
} 

.topnav a {
    margin-top: 9%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    text-decoration: none;
    color: var(--seashell);
    font-weight: bold;
    text-align: center;
    padding: 35px 20px;
    justify-content: center;
}

.topnav a:hover {
    color: var(--outer-space);
    text-decoration: underline;
}

.page-sidebar {
  padding: 50px;
  text-align: center;

}

.profile_pic {
  margin-top: -2%;
  margin-left: 0%;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
}

.profile_pic, .aboutmepics, .wrapper img, .resume img{
    border-radius: 10px;
    border: 3px solid rgba(2,2,2,0.5);
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 29.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
  }

.wrapper img:hover, .resume img:hover{
  opacity:0.4;
  filter:alpha(opacity=40);
  z-index: -1;
} 
  .column {
    margin-top: 10%;
    width: 30%;
    padding: 30px;
   color: var(--seashell);
  }

  ul {
    display: flex;
    flex-wrap:wrap;
    list-style-type: none;
    justify-content: center;
    vertical-align: bottom;
    overflow: hidden;
  }

  .aboutmepics {
    margin-left: 1px;
    width: 195px;
    height: 195px;
    object-fit: cover;
    flex-direction: row;
  }
  
  .wrapper{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.resume{
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  color: var(--seashell);
  align-items: center;
  margin-left: 31%;
}

 .wrapper header, .contact header, .resume header{
  padding: 20px;
  font: 20px;
  color: var(--seashell);
  text-align: center;
 }

 .wrapper {
   margin-top: -43%;
   margin-left: -140px;
 }


 .wrapper img {
  width: 810px;
 }

 .contact {
    overflow: hidden;
    height: 90px; 
    margin: 0 auto;
    width:100%;
} 

#contact, #work {
  width: 100%;
  display:flex;
  font-size: 18px;
  color: var(--seashell);
}

.contact a{
    font-size: 18px;
    text-decoration: none;
    color: var(--seashell);
    font-weight: bold;
    text-align: center;
    padding: 35px 20px;
    position:relative;
    justify-content: flex-end;
}

.contact a:hover {
    color: var(--outer-space);
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {

  #aboutme, .aboutmepics, .wrapper{ 
    margin-top: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
.topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
 } 
}
  @media screen and (max-width: 768px) {
  .column, .aboutmepics, .wrapper, .contact{ 

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
   }
.topnav {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  }
.profile_pic{
  display: none;
}
.resume,{
  margin-left: 30%; 
  }
}
  @media screen and (max-width: 460px) {
    .column, .wrapper, .contact{ 
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }
.resume,{
    margin-left: 30%; 
  }
}
  